<!-- partial:_sidebar -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-category">Realtime</li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/overview">
                <i class="mdi mdi-chart-line menu-icon"></i>
                <span class="menu-title">Overview</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/query">
                <i class="mdi mdi-magnify menu-icon"></i>
                <span class="menu-title">Live query</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/explore">
                <i class="mdi mdi-magnify menu-icon"></i>
                <span class="menu-title">Explore</span>
            </a>
        </li>
        <li class="nav-item nav-category">Manage</li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/rules">
                <i class="mdi mdi-security menu-icon"></i>
                <span class="menu-title">Rules</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/trapps">
                <i class="mdi mdi-connection menu-icon"></i>
                <span class="menu-title">Trapps</span>
            </a>
        </li>
    </ul>
</nav>
<!-- partial -->
