{{#*inline "page"}}
<div class="d-sm-flex align-items-center justify-content-between border-bottom">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link ps-0"
               id="home-tab"
               data-bs-toggle="tab"
               href="/admin/trapps"
               role="tab"
               aria-controls="overview"
               aria-selected="false">
                Overview
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active"
               id="profile-tab"
               data-bs-toggle="tab"
               href="/admin/trapp_create"
               role="tab"
               aria-selected="true">
                Create new
            </a>
        </li>
    </ul>
</div>

<div class="tab-content tab-content-basic">
    <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Create new application</h4>
                <p class="card-description">
                    Please fill in the form below to create a new application to monitor.
                </p>

                <form class="forms-sample"
                      action="/admin/trapp_create"
                      method="post">
                    <div class="form-group">
                        <label for="trapp_name">Application name</label>
                        <input type="text"
                               class="form-control"
                               name="name"
                               placeholder="Application name" />
                    </div>

                    <input type="submit" class="btn btn-primary me-2" value="Create" />
                </form>
            </div>
        </div>
    </div>
</div>
{{/inline}}
{{> _base }}
